.maincontainer {
    position: relative;
    background-repeat: no-repeat;
    /* background-image: url(../static/images/Hero.jpg); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    justify-content: space-around;
     
}
.historymain {
    height: 100vh;
    width: auto;
    background-color: rgba(77, 46, 255, 0.185);
}

/* Style for the parent container */
.History {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    padding: 200px 0;

}

.line {
    flex: 0 0 auto;
    left: 0;
}

.line img {
    max-height: 200px;
}


.about {
    flex: 0 1 auto;
}

.History p {
    flex: 0 2;
    max-width: 600px; 
}

.bigtext p{
    height: 200px;
    width: 100%;
    font-size: 2rem;
    background-color: rgba(69, 36, 255, 0);
    padding: 200px 0;
}